<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Close Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/book-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/book-details.css" asp-append-version="true" /> 
</head>
<body> 
    <header id="cl-header">
        <div id="cl-banner">
            <div>Muhammed Kayra Özkaya - 241103046</div>
        </div>
        <div id="cl-bar">
            <nav id="cl-nav">
                <a class="logo" href="/">
                    <div class="label-close">CLOSE</div>
                    <div class="label-library">Library</div>
                </a>
                <a href="/books"> Books </a>
                <a href="/authors"> Authors </a>
            </nav>
            <div id="cl-authentication">
                <a href="/"> Log In </a>
                <a href="/"> Sign Up </a>
            </div>
        </div>
    </header>
    <main id="cl-main" role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
