@model muhammedkayraozkaya_241103046.Models.AuthorModel
@{
	var author = Model ?? new AuthorModel(-1);
}

<div class="author-details">
	<div class="photo">
		<img src="~/img/authors/@author.ImgStr()"/>
	</div>
	<div class="content">
		<div class="name">@author.FullName()</div>
	</div>
</div>