@model muhammedkayraozkaya_241103046.Models.AuthorModel
@{
	var author = Model ?? new AuthorModel(-1);
}

<a class="author-card" asp-controller="authors" asp-action="details" asp-route-id=@author.Id>>
	<div class="cover">
		<img src="~/img/authors/@author.ImgStr()"/>
	</div>
	<div class="details">
		<div class="name">@author.FullName()</div>
	</div>
</a>