<form class="pokoko" method="post" asp-action="Signup">
	<div>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required />
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required />
	</div>
	<div>
		<label for="role">Role:</label>
		<input type="role" id="role" name="role" />
	</div>
	<div>
		<button type="submit">Sign Up</button>
	</div>
</form>