@{
    ViewData["Title"] = "Home Page";
    var mostDiscount = new BookSection("Today's best deals", EnumerableBooks.MostDiscount, 4, new BookDetails() { Price = "+" });
    var mostRating = new BookSection("Greatest of library", EnumerableBooks.MostRating, 4, new BookDetails() { Rating = "+" });
    var lessStocks = new BookSection("About to run out", EnumerableBooks.LestStocks, 4, new BookDetails() { Stocks = "+" });
}

<div>
    <partial name="Book/section" model=@mostDiscount/>
    <partial name="Book/section" model=@mostRating/>
    <partial name="Book/section" model=@lessStocks/>
</div>
