@{
    ViewData["Title"] = "Home Page";
}

<div class="books">

    @foreach (var book in EnumerableBooks.MostRating.Take(5))
    {
        <partial name="BookCard/default" model=@book/>
    }
</div>

<div class="books">

    @foreach (var book in EnumerableBooks.MostRating.Take(5))
    {
        <partial name="BookCard/default" model=@book/>
    }
</div>
