@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var book in DataStore.books.Models)
    {
        <div class="book">
            <h4>@book.Title</h4>
            <p>@book.Description</p>
            <p>@book.Rating.ToString("F1")</p>
            <p>@book.StockCount</p>
        </div>
    }
</div>
