@{
    ViewData["Title"] = "Home Page";
}

<div class="books">
    <partial name="BookContainer/Default" model=@EnumerableBooks.MostRating.Take(5)/>
</div>

<div class="books">
    <partial name="BookContainer/Default" model=@EnumerableBooks.LestDiscount.Take(5)/>
</div>
