@{
    ViewData["Title"] = "Home Page";
    var mostDiscount = new BookSection("Kaçmaz fırsatlar", EnumerableBooks.MostDiscount, 4);
    var mostRating = new BookSection("En sevilenler", EnumerableBooks.MostRating, 4);
    var lessStocks = new BookSection("Tükenmeden alın", EnumerableBooks.LestStocks, 4);
}

<div>
    <partial name="BookSection/Default" model=@mostDiscount/>
    <partial name="BookSection/Default" model=@mostRating/>
    <partial name="BookSection/Default" model=@lessStocks/>
</div>
