.account-details {
    display: flex;
}

.account-details .books {
    flex: 2;
    flex-shrink: 0;
}

.account-details .infos {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-direction: column;
}

.account-details .infos > div {
    display: flex;
}