.book-card {
    flex: 0 0 auto;
    flex-direction: column;
    width: 240px;
    padding: 10px;
}

.book-card .book-cover {
    background-color: #f5f5f5;
    position: relative;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    width: 100%;
    height: 360px;
}

.book-card .book-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}
.book-card .book-cover:hover img{
    transform: scale(0.90);
}

.book-card .book-cover div *{
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 4px 6px;
  margin: 4px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.book-card .book-cover:hover div * {
  opacity: 1;
  transform: translateY(0);
}
 
.book-card .book-cover .stocks {
  top: 0px;
  left: 0px;
  transform: translate(-6px, -6px);
}

.book-card .book-cover .rating {
  bottom: 0px;
  left: 0px;
  transform: translate(-6px, 6px);
}

.book-card .book-cover .discount {
  top: 0px;
  right: 0px;
  transform: translate(6px, -6px);
}

.book-card .book-cover .price {
  bottom: 0px;
  right: 0px;
  transform: translate(6px, 6px);
}

.book-card .book-details {
    display: block;
}

.book-card .book-details .price {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   height: 36px;
   padding: 6px;
}

.book-card .book-details .price .discount {
    display:flex;
    color: black;
    font-weight: 500;
    border: 1px solid, #00000099;
    border-radius: 10px;
    align-items: center;
    user-select: none;
    background-color: #ccc9dd;
}

.book-card .book-details .price .discount * {
    padding: 0px 4px;
}

.book-card .book-details .price .discount .label {
    font-size: 14px;
}

.book-card .book-details .price .discount .value {
    font-size: 16px;
}

.book-card .book-details .price .amount {  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.book-card .book-details .price .amount * {   
    align-content: center;
    margin-left: 4px;
}

.book-card .book-details .price .amount .cost {     
    color: red;
    font-size: 14px;
    text-decoration: line-through wavy black 1px;
}

.book-card .book-details .price .amount .net {   
    color: green;
    font-size: 18px;
    font-weight: 500;
}