.book-card {
    flex: 0 0 auto;
    flex-direction: column;
    width: 240px;
    padding: 10px;
}

.book-card .book-cover {
    background-color: #f5f5f5;
    position: relative;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    width: 100%;
    height: 360px;
}

.book-card .book-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}
.book-card .book-cover:hover img{
    transform: scale(0.90);
}

.book-card .book-cover .book-info > div {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 4px 6px;
  margin: 4px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card .book-cover:hover .book-info > div {
  opacity: 1;
  transform: translateY(0);
}

.book-card .book-cover:hover .book-info > div > div {
  height: 20px;
}

.book-card .book-cover .book-info .price {
    bottom : 0;
    right : 0;
    transform : translate(6px, 6px);
}

.book-card .book-cover .book-info .price .discount {
    color: yellowgreen;
    font-size: 14px;
}

.book-card .book-cover .book-info .price .amount {
    display: flex;
    align-items:flex-end;
}

.book-card .book-cover .book-info .price .amount > div{
    padding: 0px 2px;
}

.book-card .book-cover .book-info .price .amount .cost {
    color: #ff4545;
}

.book-card .book-cover .book-info .price .amount .net  {
    color: #34b534;
    font-size: 14px;
}

.book-card .book-cover .book-info .rating {
    bottom : 0;
    left : 0;
    transform : translate(-6px, 6px);
}

.book-card .book-details {
    display: block;
}

.book-card .book-details > div{
   display: flex;
   flex-wrap: nowrap;
   height: 36px;
   padding: 6px;
}

.book-card .book-details .price {
   justify-content: space-between;
}

.book-card .book-details .price .discount {
    display: flex;
    color: black;
    font-weight: 500;
    border: 1px solid, #00000099;
    border-radius: 10px;
    align-items: center;
    user-select: none;
    background-color: #ccc9dd;
}

.book-card .book-details .price .discount * {
    padding: 0px 4px;
}

.book-card .book-details .price .discount .label {
    font-size: 14px;
}

.book-card .book-details .price .discount .value {
    font-size: 16px;
}

.book-card .book-details .price .amount {  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.book-card .book-details .price .amount * {   
    align-content: center;
    margin-left: 4px;
}

.book-card .book-details .price .amount .cost {     
    color: red;
    font-size: 14px;
    text-decoration: line-through wavy black 1px;
}

.book-card .book-details .price .amount .net {   
    color: green;
    font-size: 18px;
    font-weight: 500;
}

.book-card .book-details .rating {
    font-weight: 500;
    justify-content: center;
}

.book-card .book-details .stocks {
    font-weight: 500;
    justify-content: center;
}

.book-card .book-details .stocks .value{
    font-size: 14px;
    padding: 0px 4px;
    margin: 0px 4px;
    border: solid 1px black;
    border-radius: 16px;
    user-select: none;
}