body {
    background-color: #E1DCC5;
}

.book-section {
    background-color: #F3EDD7;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
}

.book-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-container.line {
    flex-wrap: nowrap;
    justify-content: space-evenly;
}