#cl-banner {
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #333;
}

#cl-banner * {
    color: white;
    font-family: monospace;
    margin-left: 12px;
    margin-right: 12px;
    user-select: none;
}

#cl-header {
    height: 88px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ede6c8;
    border-bottom: 1px solid rgb(156, 157, 146);
}

#cl-header .left-side {    
    display: flex;
    justify-content: space-between;
    flex: 3;
}

#cl-header .right-side {
    display: flex;
    justify-content: right;
    flex: 4;
}

#cl-header a {
    padding: 8px;
    text-decoration: none;
    font-weight: 500;
}

#cl-header .logo {
    display: flex;
    height: 40px;
    align-items: center;
}

#cl-header .logo .label-close {
    font-weight: 400;
    font-style: italic;
    margin: 4px;
    font-size: 28px;
    color: #00000099;
}

#cl-header .logo .label-library {
    font-weight: 700;
    font-size: 28px;
    color: #000000ba;
}
body {
    background-color: #E1DCC5;
}

.book-section {
    background-color: #F3EDD7;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    margin: 30px;
    padding: 10px;
}

.book-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-container.line {
    flex-wrap: nowrap;
    justify-content: space-evenly;
}