body {
    background-color: #E1DCC5;
}

.book-section {
    background-color: #F3EDD7;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
}

.book-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-evenly;
}

.book-card {
    flex: 0 0 auto;
    flex-direction: column;
    width: 240px;
    padding: 10px;
}

.book-cover {
    background-color: #f5f5f5;
    position: relative;
    border: 1px solid #BABBAE;
    border-radius: 3px;
    width: 100%;
    height: 360px;
}

.book-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}
.book-cover:hover img{
    transform: scale(0.90);
}

.book-cover div *{
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 4px 6px;
  margin: 4px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.book-cover:hover div * {
  opacity: 1;
  transform: translateY(0);
}
 
.book-cover .stocks {
  top: 0px;
  left: 0px;
  transform: translate(-6px, -6px);
}

.book-cover .rating {
  bottom: 0px;
  left: 0px;
  transform: translate(-6px, 6px);
}

.book-cover .discount {
  top: 0px;
  right: 0px;
  transform: translate(6px, -6px);
}

.book-cover .price {
  bottom: 0px;
  right: 0px;
  transform: translate(6px, 6px);
}

.book-details {
    display: block
}