@model muhammedkayraozkaya_241103046.Models.BookModel
@{
	var book = Model ?? new BookModel(-1, -1, -1); 
}

<div class=book-preview>
	<div class="cover">
		<img src="~/img/covers/@book.ImgStr()" />
	</div>
	<div class="content">
		<div class="title">@book.Title</div>
		<div class="stocks flex">
			left
			<div class="value">@book.Stocks</div>
			in stocks
		</div>
		<div class="rating flex">
			<div class="label">Rating</div>
			<div class="symbol">@book.SymbolStr()</div>
		</div>
		<div class="description flex">
			@book.Description
		</div>
		<a class="goto" asp-controller="books" asp-action="details" asp-route-id=@book.Id>
			examine the book
		</a>
	</div>
</div>