@model IEnumerable<muhammedkayraozkaya_241103046.Models.AuthorModel>
@{
	var authors = Model ?? Enumerable.Empty<muhammedkayraozkaya_241103046.Models.AuthorModel>();
}

<div class="author-container">
	@foreach (var author in authors)
	{
		<partial name="author-card" model=@author />
	}
</div>